
<h4>Filter by Location</h4>
<button type="button" class="btn btn-primary">
  <%= link_to 'All', inventories_path, class: "button is-fullwidth is-dark", style: "color: #ffffff" %>
</button>

<button type="button" class="btn btn-secondary">
  <%= link_to 'Toronto', request.params.merge(location_type: "Toronto"), class: "button is-fullwidth is-1", style: "color: #ffffff" %>
</button>

<button type="button" class="btn btn-secondary">
  <%= link_to 'Montreal', request.params.merge(location_type: "Montreal"), class: "button is-fullwidth is-2", style: "color: #ffffff" %>
</button>

<button type="button" class="btn btn-secondary">
  <%= link_to 'Vancouver', request.params.merge(location_type: "Vancouver"), class: "button is-fullwidth is-3", style: "color: #ffffff" %>
</button>

</br></br>
<h4>Filter by Inventory Count</h4>
<%= form_with url: request.url, role: "search", method: :get do %>
  <%= text_field_tag :searchmin, @searchmin, placeholder: "Min..."%>
  <%= text_field_tag :searchmax, @searchmax, placeholder: "Max..."%>
  <%= hidden_field_tag 'location_type', params[:location_type] %>
  <%= submit_tag "Filter" %>
<% end %>